<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap rescap">

  <Identity
    Name="EriklebsonMartinsdePaiva.EMECore"
    Publisher="CN=1B2733F4-245A-49ED-9D6D-3FDFCA91A10A"
    Version="2.18.1.0" />

  <mp:PhoneIdentity PhoneProductId="8620095f-1c56-4e2a-95dc-30cc28d05afb" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>EME Core</DisplayName>
    <PublisherDisplayName>Eriklebson Martins de Paiva</PublisherDisplayName>
    <Logo>Assets\Logo\logo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.26100.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="EME Core"
        Description="E.M.E Core - Game Launcher com Monitor de Hardware, Conquistas e Gerenciamento de Perifericos"
        BackgroundColor="transparent"
        Square150x150Logo="Assets\Logo\logo.png"
        Square44x44Logo="Assets\Logo\logo.png">
        <uap:DefaultTile Wide310x150Logo="Assets\Logo\logo.png" />
        <uap:SplashScreen Image="Assets\Logo\logo.png" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
